@import "https://unpkg.com/open-props/easings.min.css";

:root {
    /* spotify colors*/
    --spotify-green: #1ed760;
    --spotify-black: #121212;
    --spotify-white: #ffffff;
    --spotify-grey: #b3b3b3;
    --spotify-darkGrey: #222222;

    --ease-in-out-2: cubic-bezier(0.42, 0, 0.58, 1);
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* global page styles */

html {
    font-family: 'Manrope', sans-serif;
}

/* center everything */

body {
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    display: grid;
    place-items: center;
    /* grid-template-columns: 1fr 25rem 1fr;
    grid-template-rows: 1fr 25rem 1fr; */
}

p{
    font-weight: 100;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Toggle button
*/

/*
    Album
*/
.album{
    background-color: var(--spotify-darkGrey);
    max-width: 25rem;
    border-radius: 1rem;
    display: grid;
}

.album__img{
    padding: 1.5rem;
    border-radius: 2rem;
}

.album__header{
    padding: 0 1.5rem 1.5rem 1.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2rem;
}

.album__title{
    font-weight: 700;
}

.album__artist{
    font-weight: 100;
    grid-row: 2/3;
    color: var(--spotify-grey);
}

.album__action{
    grid-column: 2/3;
    grid-row: span 2;
}


.icon--check{
    fill: var(--spotify-green);
    display: none;
}

/* .toggle--checked .icon--check{
    display: block;
}

.toggle--checked .icon--add{
    display: none;
} */


@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .toggle--checked .icon--check {
    display: block;
    animation: fade-in .3s var(--ease-in-out-2);
  }
  
  .toggle--checked .icon--add {
    display: none;
    animation: fade-in .3s var(--ease-in-out-2);
  }


/*
    Utitlities
*/

.color-grey {
    color: var(--spotify-grey);
}